@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-primary-dark: #0b46be;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
}

body {
  min-height: max(884px, 100dvh);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #101622;
}
::-webkit-scrollbar-thumb {
  background: #2d3647;
  border-radius: 3px;
}
